.newFormButton button{
  border-radius: 100px;
  border: none;
  background-color: rgb(10, 57, 167);
  color: aliceblue;
  font-weight:bolder;
  font-size: x-large;
}
.mainForm {  
  border: 1px solid grey;
  border-width: 3%;
  background-color: rgb(238, 237, 237);
}
.mainForm h2{
  color: #4B75BA;
  text-align: center;
  }
.mainSubText{
  text-align: center;
}
.formDetails{
  width: 60%;  
}
.newFormButton {
  margin-bottom: 1rem;
}
